.header{
    text-align: center;
    color: red;

    
}
.conainer{
    padding: 3cm;
    display:grid
}
.grid{
    text-align: center;
}

.item{
    width: 2000px;
    align-items: center;
}

.dsd{
   
}

.dsd1{
   
}



